**/target/
/CDeP/Aula8/nbproject/private/
/CDeP/EJBRemoteInterface/nbproject/private/
/CDeP/EntAppEJB/nbproject/private/
/CDeP/EntAppEJB/EntAppEJB-ejb/nbproject/private/
/CDeP/EntAppEJB/EntAppEJB-ejb/build/
/CDeP/EntAppEJB/build/
/CDeP/EntAppEJB/EntAppEJB-ejb/dist/
/CDeP/EJBRemoteInterface/dist/
/CDeP/EJBRemoteInterface/build/
/CDeP/EntAppEJB/dist/
/CDeP/EntAppClient/nbproject/private/
/CDeP/EntAppClient/build/
/CDeP/EntAppClient/dist/
/CDeP/CalculatorWSApplication/nbproject/private/
/CDeP/CalculatorWSApplication/build/
/CDeP/calculatorWSApplication/nbproject/private/
/CDeP/calculatorWSApplication/build/
/CDeP/CalculatorWS_Client_Application/nbproject/private/
/CDeP/CalculatorWS_Client_Application/build/
/CDeP/calculatorWSApplication/dist/
/CDeP/CalculatorWS_Client_Application/dist/
/CDeP/CalculatorWSServletClient/nbproject/private/
/CDeP/CalculatorWSServletClient/build/
